<div class="container">
  <div class="row">
    <h1><%= @room.name %></h1>

    <h4>参加者</h4>
    <% @entries.each do |e| %>
      <%= link_to e.user.email, user_path(e.user_id) %>
    <% end %>

    <%= label_tag :content, 'Say something:' %>
    <%= text_field_tag :content, nil, data: { behavior: 'room_speaker' } %>
  </div>
  <div class="row">
    <%#                ここの data-room_id を使ってjs側で部屋を見分ける %>
    <div id='messages' data-room_id="<%= @room.id %>" class="col-xs-6">
      <%= render @messages %>
    </div>
  </div>
</div>